<footer class="mdl-mini-footer" xmlns:th="http://www.thymeleaf.org">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
	        <a href="#" th:text="#{footer.title}"></a>
        </div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="/about.html" th:text="#{nav.about}"></a></li>
            <li><a href="#" th:text="#{footer.help}"></a></li>
            <li><a href="#" th:text="#{footer.imprint}"></a></li>
            <li><a href="/login">Admin</a></li>
        </ul>
    </div>
    <script src="/js/material.min.js"></script>
</footer>