<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title th:text="${titel}"></title>
	<link th:replace="fragments/styles"/>
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<header th:replace="fragments/header"></header>
	<main class="mdl-layout__content">
		<div class="mdl-grid portfolio-max-width">

			<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text" th:text="#{nav.about}"></h2>
				</div>
				<div class="mdl-card__media">
					<img class="article-image" src="/images/about-header.jpg" border="0" alt="">
				</div>

				<div class="mdl-grid portfolio-copy">
					<h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline" th:text="#{about.title}"></h3>
					<div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
						<p th:utext="#{'about.p1'}"></p>
					</div>

					<div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
						<strong>&copy;opyright</strong>
						<div itemscope itemtype="http://schema.org/ScholarlyArticle">
							<address class="mdl-card__supporting-text no-padding">
								<a href="http://artingo.net" target="_blank">artingo.net</a><br/>
								<span itemprop="author">Alfred Walther</span><br/>
								Elisabethenstr. 19<br/>
								D-61239 Ober-Mörlen, Germany
							</address>
							<p></p>
							<p>Em@il: <a href="mailTo://office@artingo.net">office@artingo.net</a><br/>
								Skype: <a href="skype:artingo.net?chat">artingo.net</a>
							</p>
						</div>
					</div>
				</div>
			</div>


		</div>
		<footer th:replace="fragments/footer"/>
	</main>
</div>
</body>
</html>
