<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{nav.cart}"></title>
	<link th:replace="fragments/styles"/>
	<script type="text/javascript" src="/js/dialog-polyfill.js"></script>
	<script type="text/javascript" language="JavaScript">
		window.onload = function () {
			var dialog = document.querySelector('dialog');
			if (!dialog.showModal) {
				dialogPolyfill.registerDialog(dialog);
			}
		}
		function loeschenBestaetigen(url) {
			document.querySelector('#loeschenLink').href = url;
			document.querySelector('dialog').showModal();
		}
	</script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<div th:replace="fragments/header::large(titel='Warenkorb')"/>
	<div th:replace="fragments/header::small"/>
	<main class="mdl-layout__content">
		<div class="mdl-cell mdl-cell--6-col center">
			<h2 th:if="${session.warenkorb.produkte.isEmpty()}" th:text="#{cart.no.products}"></h2>
			<h4 th:if="${message}" th:text="${message}"></h4>
			<div th:replace="fragments/productlist::params(showDelete=true)"/>


		</div>
		<footer th:replace="fragments/footer"/>
		<dialog class="mdl-dialog" style="width:400px; top: 100px">
			<h4 class="mdl-dialog__title" th:text="#{title.dialog}"/>
			<div class="mdl-dialog__content">
				<p th:text="#{label.dialog}"/>
			</div>
			<div class="mdl-dialog__actions">
				<a href="#" id="loeschenLink">
					<button type="button" class="mdl-button" th:text="#{button.yes}"/>
				</a>
				<button type="button" class="mdl-button close" th:text="#{button.no}"
				        onclick="document.querySelector('dialog').close()"/>
			</div>
		</dialog>
	</main>
</div>
</body>
</html>
