<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Du hast das Internet kaputt gemacht!</title>
    <link rel="stylesheet" href="material.grey-pink.min.css"/>
</head>
<body style="background: url('404-error-page.jpg') no-repeat 50% -40%">
<h1 align="center">Du hast das Internet kaputt gemacht!</h1>
<p align="center" style="width:100%">
    <a href="index.html" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
       data-upgraded=",MaterialButton,MaterialRipple">
        Zurück zur Startseite!
        <span class="mdl-button__ripple-container">
        <span class="mdl-ripple"
              style="width: 231.899px; height: 231.899px; transform: translate(-50%, -50%) translate(58px, 22px);"></span>
    </span>
    </a>
</p>
<pre th:text="${exception}" style="font-size:14pt"></pre>
</body>
</html>
