<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{order.title}"></title>
	<link th:replace="fragments/styles"/>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
	<div th:replace="fragments/header::large(titel='Orders')"/>
	<div th:replace="fragments/header::small"/>
	<main class="mdl-layout__content">
		<div class="mdl-cell--6-col-desktop mdl-cell--12-col-phone center">
			<h4 th:if="${message}" th:text="${message}"></h4>

			<div th:replace="fragments/productlist::params(title=order.title, produkte=${bestellung.produkte})"/>
		</div>
		<footer th:replace="fragments/footer"/>
	</main>
</div>
</body>
</html>
