<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title th:text="${titel}"></title>
    <link rel="stylesheet" href="fonts.css">
    <link rel="stylesheet" href="material.grey-pink.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="icons.css">
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
        <div class="mdl-layout__header-row portfolio-logo-row">
            <span class="mdl-layout__title">
                <div class="portfolio-logo"></div>
            <span class="mdl-layout__title" th:text="${titel}"></span>
            </span>
        </div>
        <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link " href="index.html">Portfolio</a>
                <a class="mdl-navigation__link" href="blog.html">Blog</a>
                <a class="mdl-navigation__link" href="about.html">About</a>
                <a class="mdl-navigation__link is-active" href="wein-hinzufuegen.html">Wein hinzufügen</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer mdl-layout--small-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link is-active" href="index.html">Portfolio</a>
            <a class="mdl-navigation__link" href="blog.html">Blog</a>
            <a class="mdl-navigation__link" href="about.html">About</a>
            <a class="mdl-navigation__link" href="contact.html">Contact</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width portfolio-contact">
            <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Wein hinzufügen</h2>
                </div>
                <div class="mdl-card__media">
                    <img class="article-image" src=" images/contact-image.jpg" border="0" alt="">
                </div>
                <div class="mdl-card__supporting-text">
                    <p>
                        Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
                    </p>
                    <p>
                        Bitte geben Sie hier die Daten des neuen Weines ein:
                    </p>
                    <form action="#" th:action="@{/weinHinzufuegen}" th:object="${wein}" method="post" class="">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-invalid">
                            <input class="mdl-textfield__input"
                                   type="text" th:field="${wein.name}" id="name">
                            <label class="mdl-textfield__label" for="name">Name des Weines</label>
                            <span class="mdl-textfield__error" th:if="${#fields.hasErrors('name')}" th:errors="${wein.name}"></span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-invalid">
                            <input class="mdl-textfield__input"
                                   type="text" th:field="${wein.herkunft}" id="herkunft">
                            <label class="mdl-textfield__label" for="herkunft">Herkunft des Weines</label>
                            <span class="mdl-textfield__error" th:if="${#fields.hasErrors('herkunft')}" th:errors="${wein.herkunft}"></span>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-invalid">
                            <select class="mdl-textfield__input" name="kategorie" id="kategorie" th:field="${wein.kategorie}">
                                <option th:each="kategorie : ${T(de.karrieretutor.springboot.domain.Kategorie).values()}"
                                        th:value="${kategorie}" th:text="${kategorie}"></option>
                            </select>
                            <label class="mdl-textfield__label" for="kategorie">Kategorie des Weines</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-invalid">
                            <select class="mdl-textfield__input" name="rebsorte" id="rebsorte" th:field="${wein.rebsorte}">
                                <option th:each="rebsorte : ${T(de.karrieretutor.springboot.domain.Rebsorte).values()}"
                                        th:value="${rebsorte}" th:text="${rebsorte}"></option>
                            </select>
                            <label class="mdl-textfield__label" for="kategorie">Rebsorte des Weines</label>
                        </div>
                        <p>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                                Wein speichern
                            </button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Simple portfolio website</div>
            </div>
            <div class="mdl-mini-footer__right-section">
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>
<script src="material.min.js"></script>
</body>

</html>
