<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Bestellbestätigung</title>
</head>
<body>

<p>Hallo <span th:text="${kunde.nameFormatiert}"/>,<br/>
	<br/>
	Ihre Bestellung Nr. <span th:text="${bestellung.id}"/> ist bei uns eingegangen.</p>

<p>Die Lieferung enthält folgende Artikel:<br/>
<div th:each="bp : ${bestellung.produkte}">
	Bezeichnung: <span th:text="${bp.produkt.name}"/>,
	Preis: <span th:text="${bp.produkt.preisFormatiert}"/>€,
	Anzahl: <span th:text="${bp.anzahl}"/>
</div>
Gesamtzahl bestellter Produkte: <span th:text="${bestellung.gesamtzahl}"/>,
Gesamtpreis: <span th:text="${bestellung.gesamtpreis}"/><br/>
</p>
<p>Lieferadresse:<br/>
	<span th:text="${kunde.nameFormatiert}"/><br/>
	<span th:text="${kunde.strasse}"/><br/>
	<span th:text="${kunde.plz}"/> <span th:text="${kunde.ort}"/>
</p>

<p>Zahlungsart:<br/>
	<span th:text="#{${kunde.zahlungsart.messageKey}}"/>
</p>

Mit freundlichen Grüßen,<br/>
Ihr kt-Shop-Team
</body>
</html>